.btodd {
    background-color: rgb(216, 22, 174);
    width: 150px;
    height: 70px;
    padding: 10px;
    margin: 2px;
}

.bteven{
    background-color: rgb(209, 223, 17);
    width: 150px;
    height: 70px;
    padding: 10px;
    margin: 2px;
}
